/* qhale.com css */
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', Arial, sans-serif;
    /* background: -webkit-linear-gradient(white, pink); /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(white, pink); /* For Opera 11.1 to 12.0 */
    /* background: -moz-linear-gradient(white, pink); /* For Firefox 3.6 to 15 */
    /* background: linear-gradient(white, pink); /* Standard syntax */

}

/* links */
a:link {color: white;}
a:visited {color: darkgrey;}
a:hover {color: lightpink;}


/* top-bar */
.top-bar {
    position: relative;
    width: 100%;
    height: 50px;
    color: white;
    text-align: right;
    background: #484848;
    box-shadow: 8px 5px 5px lightgrey;
}

.top-bar .container ul li {
    display: inline-block;

}
.top-bar .container a {
    padding: .40em;
    line-height: 50px;
    text-decoration: none;
}

/* content */
#wrapper {
    width: 1000px;
    margin: 0 auto;
}

/* nav */
nav {
    width: 100%;
    height: 40px;
    float: right;

}
nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
nav ul li {
    float: left;
    width: 25%;
    list-style: none;
    box-shadow: 8px 5px 5px lightgrey;
}
nav ul li a {
    display: block;
    margin: 2px;
    line-height: 40px;
    text-align: center;
    background-color: #484848;
    text-decoration: none;
    border-radius: 2px;
}

h1 {
    margin: 10px 0;
    text-align: left;
    text-shadow: 2px 2px #FFD8D5;
    padding: 55px 0 2px 0;
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
}

*,*:before, *:after{
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.row:before,
.row:after{
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
    float: left;
    min-height: 1px;
    width: 8.333333333% ;
    /*our gutter */
    padding: 1em;
    /*border: 1px solid #ccffcc;*/
}

.col-1 {width: 8.3333333333% }
.col-2 {width: 16.666666666% }
.col-3 {width: 25%}
.col-4 {width: 33.3333333333%}
.col-5 {width: 41.6666666666%}
.col-6 {width: 50%}
.col-7 {width: 58.3333333333%}
.col-8 {width: 66.6666666666%}
.col-9 {width: 75%}
.col-10 {width: 83.3333333333%}
.col-11 {width: 91.6666666666%}
.col-12 {width: 100%}

/* main */
main .row {
    background-color: #484848;
    box-shadow: 8px 5px 5px lightgrey;
    border-radius: 2px;
    text-shadow: 1px 1px #333;
}

.logo {

}

/* left main */
main .left {
    height: 450px;
}
main .left blockquote {
    padding: 130px 80px 0 80px;
}

/* right main */
main .right {
    max-height: 450px;
    float: right;
}

main .right img {
    border: 2px solid white;
}

.entice {
    height: 100px;
}
.entice .backstory, .portfolio, .contact {
    border-radius: 2px;
}
.entice a {
    display: block;
    height: 122px;
    float: left;
    width: 165px;
    margin: -10px 84px;
    text-decoration: none;
    background-color: #974c64;
    border: 2px solid white;
    box-shadow: 8px 5px 5px lightgrey;
}

/* footer */
footer {
    padding: 20px;
    height: 200px;
    background-color: #484848;
    box-shadow: 8px 5px 5px lightgrey;
    text-shadow: 1px 1px #333;
}
footer .sub-nav li, .connect li {
    list-style: none;
}
footer .sub-nav li a, .connect li a {
    text-decoration: none;
}
footer .sub-nav {
    height: 176px;
}
footer .connect ul li img {
    border: 1px solid white;
}
footer .signup, .get-in-touch {
    padding: 33px 15px;
}
footer .signup label {
    text-align: left;
}

/* copyright */
.copy {
    text-align: center;
    background-color: transparent;
    text-shadow: 2px 2px #FFD8D5;
    font-family: 'Arimo', sans-serif;
}

/*-- Backstory CSS --*/
.backleft {
    text-shadow: 2px 2px #FFD8D5;
}

.backright {
    border-radius: 2px;
}

.backright img {
    border: 2px solid white;
}

.backright figcaption {
    font-size: 0.85em;
}

/*-- Contact CSS --*/
.radio {
    width: 25px;
}
.contactbutton {
    width: 100px;
}
.contactright {
    padding: 50px;
    background-color: #484848;
    align-content: center;
    box-shadow: 8px 5px 5px lightgrey;
    border-radius: 2px;
}

/*-- Signin CSS --*/

form {
    /*background-color: #666;*/
    width: 400px;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 20px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
input[type="text"], input[type="tel"], input[type="email"] {
    margin-bottom: 5px;
    width: 200px;
}
.button {
    float: right;
    width: 100px;
    margin-top: 20px;
}

/*-- Products CSS --*/
.product-row figure .col-3 {
    box-shadow: 8px 5px 5px lightgrey;
}
.product-row figure {
    margin: 0;
}
.product-row .col-3 a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.product-row figure img {
    width: 200px;
    height: 120px;
    border: 2px;
}
.product-row img:hover {
    opacity: 0.4;
    /*filter: alpha(opacity=40); /* For IE8 and earlier */
}

/*-- CSS Styling Fixes after PHP --*/
.link-on-white-back:link {color:black;}
.link-on-white-back:visited {color:darkgrey;}
.link-on-white-back:hover {color:lightpink;}

.left-padding {
    padding-left: 15px;
}

/*-- Story Edit --*/
.story-edit-container {
    padding: 60px 10px 10px 10px;
}

/*-- News --*/
.news-archive {
    padding-left: 40px;
}
.news-archive p {
    margin-top: 0;
    font-size: 12px;
}

/*-- Login --*/
.login-form input[type="submit"]{
    display: block;
    margin: 12px auto;
}

.login-forgot-pw {
    font-size: .75em;
    text-decoration: none;
    display: block;
    text-align: center;
}

/*-- User Admin --*/
.table-password {
    width: 200px;
}

/*-- Comments --*/
.bone {
    width: 30px;
}

/*-- Products --*/
.image-detail {
    width: 100%;
}

/*-- News Detail --*/
.news-item {
    padding-left: 15px;
    padding-bottom: 20px;
}

